.contact {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    padding: 2rem;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: end;
    &__link {     
        &:not(:last-child) {
            margin-right: .5rem;
        }    
    }
    &__link-icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-secondary;
        cursor: pointer;
        transition: all .2s;
        &:hover {
            fill: $color-hover;
        }
    }
}