.header {
    grid-row: 1 / 2;
    grid-column: 1 /-1;

    background-color: $color-primary;
    color: $color-secondary;
    font-size: 1.6rem;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person {
    &__details {
        font-family: 'univers-regular';
    }
    &__name {
        margin-bottom: 1rem;
        span {
            font-family: 'univers-bold';
        }
    }
}

.navigation {
    &__checkbox {
        display: none;
        cursor: pointer;
    }
    &__button {
        height: 5rem;
        width: 5rem;
        display: inline-block;
        text-align: center;
        cursor: pointer;
    }
    &__icon {
        position: relative;  
        margin: 2rem;
        &,
        &::before,
        &::after {
            width: 2rem;
            height: 1.5px;
            display: inline-block;
            transition: all .2s;
            background-color: $color-secondary;
            
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }
        &::before {top: -.6rem; }
        &::after {top: .6rem; }
    }
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }  
    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(45deg);       
    }
    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-45deg);    
    }
}