// COLOR VARIABLES
$color-primary: #000;
$color-secondary: #fff;

$color-hover: #b3d4fc;

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200/16px = 75
$bp-large: 62.5em; //1000/16px = 62.5
$bp-medium: 50em; //800/16ppx = 50
$bp-small: 37.5em; //600/16px = 37.5